.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 260px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  display: flex;
}

.slide {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 30px;
  margin-top: 55px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #00aed9;
}
